<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td style="padding:45px 45px 45px 45px;line-height:22px;text-align:inherit;" height="100%" valign="top" bgcolor="">
            <div style="font-family: arial; font-size: 14px; text-align: center;"><strong><span style="color:#3E3E3E;"><span style="font-size:20px;"><?= $this->assunto ?></span></span></strong></div>
        </td>
    </tr>
</table>

<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td style="padding:30px 45px 30px 45px;line-height:22px;text-align:inherit;" height="100%" valign="top" bgcolor="">
            <div style="font-family: arial; font-size: 14px; text-align: center;"><span style="color:#333333;"><?= $this->conteudo ?></span></div>
        </td>
    </tr>
</table>

<?php if($this->botaoNome && $this->botaoLink) : ?>
<table border="0" cellpadding="0" cellspacing="0" class="module" data-role="module-button" data-type="button" role="module" style="table-layout:fixed" width="100%"><tbody><tr><td align="center" class="outer-td" style="padding:0px 0px 45px 0px"><table border="0" cellpadding="0" cellspacing="0" class="button-css__deep-table___2OZyb wrapper-mobile" style="text-align:center"><tbody><tr><td align="center" bgcolor="#F5A623" class="inner-td" style="border-radius:6px;font-size:16px;text-align:center;background-color:inherit"><a style="background-color: #F5A623; border: 1px solid #333333; border-color: #F5A623; border-radius: 3px; border-width: 1px; color: #ffffff; display: inline-block; font-family: arial,helvetica,sans-serif; font-size: 16px; font-weight: normal; letter-spacing: 0px; line-height: 16px; padding: 15px 60px; text-align: center; text-decoration: none;" href="<?= $this->botaoLink ?>" target="_blank"><?= $this->botaoNome ?></a></td></tr></tbody></table></td></tr></tbody></table>
<?php endif; ?>

<table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td style="padding:30px 45px 30px 45px;line-height:22px;text-align:inherit;" height="100%" valign="top" bgcolor="">
            <div style="font-family: arial; font-size: 14px; text-align: center;"><span style="color:#333333;"><?= $this->conteudo2 ?></span></div>
        </td>
    </tr>
</table>

<table class="module" role="module" data-type="divider" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
    <tr>
        <td style="padding:0px 0px 0px 0px;" role="module-content" height="100%" valign="top" bgcolor="">
            <table border="0" cellpadding="0" cellspacing="0" align="center" width="100%" height="5px" style="line-height:5px; font-size:5px;">
                <tr>
                    <td style="padding: 0px 0px 5px 0px;" bgcolor="#ebebeb"></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
