<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html data-editor-version="2" class="sg-campaigns" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"><!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"><!--<![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <xml>
        <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
        </o:OfficeDocumentSettings>
    </xml>
    <![endif]-->
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        body {width: 600px;margin: 0 auto;}
        table {border-collapse: collapse;}
        table, td {mso-table-lspace: 0pt;mso-table-rspace: 0pt;}
        img {-ms-interpolation-mode: bicubic;}
    </style>
    <![endif]-->

    <style type="text/css">
        @media screen and (max-width:480px) {
            .preheader .rightColumnContent,
            .footer .rightColumnContent {
                text-align: left !important;
            }

            .preheader .rightColumnContent div,
            .preheader .rightColumnContent span,
            .footer .rightColumnContent div,
            .footer .rightColumnContent span {
                text-align: left !important;
            }

            .preheader .rightColumnContent,
            .preheader .leftColumnContent {
                font-size: 80% !important;
                padding: 5px 0;
            }

            table.wrapper-mobile {
                width: 100% !important;
                table-layout: fixed;
            }

            img.max-width {
                height: auto !important;
                max-width: 480px !important;
            }

            a.bulletproof-button {
                display: block !important;
                width: auto !important;
                font-size: 80%;
                padding-left: 0 !important;
                padding-right: 0 !important;
            }

            .columns {
                width: 100% !important;
            }

            .column {
                display: block !important;
                width: 100% !important;
                padding-left: 0 !important;
                padding-right: 0 !important;
                margin-left: 0 !important;
                margin-right: 0 !important;
            }

            .total_spacer {
                padding: 0px 0px 0px 0px;
            }
        }
    </style>
    <!--user entered Head Start-->

    <!--End Head user entered-->
</head>
<body style="font-family: arial; font-size: 14px; color: #000000;">
<center class="wrapper" data-link-color="#1188E6" data-body-style="font-size: 14px; font-family: arial; color: #000000; background-color: #ebebeb;">
    <div class="webkit" style="font-family: arial; font-size: 14px;">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" class="wrapper" bgcolor="#ebebeb" style="table-layout: fixed; -webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; width: 100%;">
            <tr>
                <td valign="top" bgcolor="#ebebeb" width="100%">
                    <table width="100%" role="content-container" class="outer" align="center" cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td width="100%">
                                <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                    <tr>
                                        <td>
                                            <!--[if mso]>
                                            <center>
                                                <table><tr><td width="600">
                                            <![endif]-->
                                            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="width: 100%; max-width:600px;" align="center">
                                                <tr>
                                                    <td role="modules-container" style="padding: 0px 0px 0px 0px; color: #000000; text-align: left;" bgcolor="#ffffff" width="100%" align="left">

                                                        <table class="module preheader preheader-hide" role="module" data-type="preheader" border="0" cellpadding="0" cellspacing="0" width="100%" style="display: none !important; mso-hide: all; visibility: hidden; opacity: 0; color: transparent; height: 0; width: 0;">
                                                            <tr>
                                                                <td role="module-content">
                                                                    <p style="font-family: arial; font-size: 14px; margin: 0; padding: 0;"></p>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table class="wrapper" role="module" data-type="image" border="0" cellpadding="0" cellspacing="0" width="100%" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: 100%; -moz-text-size-adjust: 100%; -ms-text-size-adjust: 100%; table-layout: fixed; width: 100%;">
                                                            <tr>
                                                                <td style="font-size:6px;line-height:10px;padding:0px 0px 0px 0px;" valign="top" align="center">
                                                                    <a href="<?= $this->serverUrl() ?>" target="_blank">
                                                                        <img class="max-width" border="0" style="display: block; color: #000000; text-decoration: none; font-family: Helvetica, arial, sans-serif; font-size: 16px; width: 100%; max-width: 100%; height: auto;" src="<?= \ZF3Abs\Util\Utils::getFullUrl('imagem/topo.jpg') ?>" alt="" width="600">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <?= $this->conteudo ?>

                                                        <table class="module" role="module" data-type="text" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                                            <tr>
                                                                <td style="padding:30px 20px 0px 20px;line-height:22px;text-align:inherit;background-color:#F5F5F5;" height="100%" valign="top" bgcolor="#F5F5F5">
                                                                    <div style="font-family: arial; font-size: 14px; text-align: center;"><span style="color:#7a7a7a;"><span style="font-size:11px;">Entre em contato</span></span></div>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table class="module" role="module" data-type="social" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="table-layout: fixed;">
                                                            <tbody>
                                                            <tr>
                                                                <td valign="top" style="padding:10px 0px 30px 0px;font-size:6px;line-height:10px;background-color:#F5F5F5;">
                                                                    <table align="center">
                                                                        <tbody>
                                                                        <tr>
                                                                            <td style="padding: 0px 5px;">
                                                                                <a role="social-icon-link" href="<?= "https://wa.me/55" . preg_replace('/\D/', '', ZF3Abs\Util\DB::Config('CONTATO_WHATSAPP')) . "?text=" . urlencode('Olá!') ?>" target="_blank" alt="Whatsapp" data-nolink="false" title="Whatsapp " style="color: #1188E6; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; background-color: #46C655;">
                                                                                    <img role="social-icon" alt="Whatsapp" title="Whatsapp" height="30" width="30" style="height: 30px;width: 30px" src="<?= \ZF3Abs\Util\Utils::getFullUrl('imagem/social/whatsapp.png') ?>">
                                                                                </a>
                                                                            </td>
                                                                            <td style="padding: 0px 5px;">
                                                                                <a role="social-icon-link" href="<?= $this->serverUrl() ?>" target="_blank" alt="Ir para<?= \ZF3Abs\Util\DB::Config('SEO_TITLE') ?>" data-nolink="false" title="Site " style="color: #1188E6; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; background-color: #00aeef;">
                                                                                    <img role="social-icon" alt="Site" title="Site" height="30" width="30" style="height: 30px;width: 30px" src="<?= \ZF3Abs\Util\Utils::getFullUrl('imagem/social/browser.png') ?>">
                                                                                </a>
                                                                            </td>
                                                                            <td style="padding: 0px 5px;">
                                                                                <a role="social-icon-link" href="mailto:<?= \ZF3Abs\Util\DB::Config('CONTATO_EMAIL_MOSTRAR') ?>" target="_blank" alt="E-mail" data-nolink="false" title="E-mail " style="color: #1188E6; text-decoration: none; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; display: inline-block; background-color: #005b8d;">
                                                                                    <img role="social-icon" alt="E-mail" title="E-mail" height="30" width="30" style="height: 30px;width: 30px" src="<?= \ZF3Abs\Util\Utils::getFullUrl('imagem/social/email.png') ?>">
                                                                                </a>
                                                                            </td>
                                                                        </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="module unsubscribe-css__unsubscribe___2CDlR" role="module" data-type="contact" style="font-family: arial; background-color: #ebebeb; color: #7a7a7a; font-size: 11px; line-height: 20px; padding: 30px 0px 30px 0px; text-align: center;">
                                                            <div class="Unsubscribe--addressLine" style="font-family: arial; font-size: 14px;">
                                                                <p class="Unsubscribe--senderName" style="font-family: arial; margin: 0; padding: 0; font-size: 11px; line-height: 20px;"><?= \ZF3Abs\Util\DB::Config('SEO_TITLE') ?></p>
                                                                <p style="font-family: arial; margin: 0; padding: 0; font-size: 11px; line-height: 20px;"><span class="Unsubscribe--senderAddress"><?= \ZF3Abs\Util\DB::Config('CONTATO_LOCALIZACAO') ?></span></p>
                                                            </div>
                                                        </div>

                                                    </td>
                                                </tr>
                                            </table>
                                            <!--[if mso]>
                                            </td></tr></table>
                                            </center>
                                            <![endif]-->
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</center>
</body>
</html>